body, html {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.header {
    box-shadow: 0px 0px 20px #7373d9b0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter {
    font-weight: bold;
    width: 750px;
    display: flex;
    margin: 40px;
}

.logo {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.filter-button {
    margin-right: 5px;
    background-color: #7373D9;
    border: 1px solid #7373D9;
    color: #ffffff;
    border-radius: 10px;
    font-size: 25px;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  .filter-button:hover {
    background-color: #ffffff;
    color: #7373D9;
  }


#allfilters {
    border: 2px solid #7373D9;
    width: 300px;
    display: none;
    margin-top: 60px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
  }

#buttonfilters {
    font-weight: bold;
    background-color: #ffffff;
    color: #7373D9;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #7373D9;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 8px;
}

#buttonfilters:hover {
    color: #ffffff;
    background-color: #7373D9;
}

#filter-text {
    font-size: 30px;
    font-weight: bold;
}

#inputField {
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    width: 500px;
}

.menu-icon {
    font-size: 50px;
    padding: 0;
    font-weight: bold;
    color: white;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-color: #7373D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.menu-icon:hover {
    color: #7373D9;
    background-color: white;
}
  
.to-start {
    font-size: 20px;
    padding: 0;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 20px;
    background-color: #7373D9;
    border-radius: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.to-start:hover {
    color: #7373D9;
    background-color: white;
}

.menu-sidebar {
    z-index: 29;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: -600px;
    width: 500px;
    height: 500px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px #7373d981;
    background-color: #ffffff;
    transition: left 0.5s;
  }

.login-button {
    font-size: 20px;
    cursor: pointer;
    font-style: italic;
    padding: 10px 15px;
    color: #7373D9;
    border-radius: 10px;
    border: 1px solid #7373D9;
}

.login-button:hover {
    color: white;
    background-color: #7373D9;
}

.content {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.search {
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;
    font-size: 30px;
    padding-left: 10px;
    width: 400px;
    height: 60px;
    background-color: white;
    color: black;
    border: 2px solid #7373D9;
}
.tours-button:hover {
        color: #7373D9;
        background-color: #ffffff;
        border: 1px solid #7373D9;
}

.menu-sidebar p {
    font-style: italic;
    color: #5c5caa;
    border-radius: 10px;
    display: flex;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #7373D9;
    font-size: 20px;
    width: 400px;
    height: 60px;
}

.menu-sidebar p:hover  {
    color: white;
    background-color: #7373d9;
}

.photo {
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

.oval {
    width: 700px;
    padding: 40px;
    margin: auto;
    height: 100px;
    background-color: #7373D9;
    border-radius: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

#photo-text {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 30px;
    height: 60px;
    padding: 0px 20px;
}

.photo1, .photo2, .photo3 {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000071;
    display: inline-block;
    margin: 0 10px;
}

.tours-button {
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px; /* Значение auto для горизонтального центрирования */
    width: 250px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #7373D9;
    color: #ffffff;
}

footer {
    box-shadow: 0px 0px 30px #7373d9b0;
    position: fixed;
    display: block;
    bottom: 0;
    text-align: start;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.phone-number, .address {
    -webkit-user-select:text;
    -moz-user-select: text;
    -khtml-user-select:none;
    -ms-user-select: text;
    margin: 20px;
    color: #0040ff;
}

.contact-info a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    color: #000000;
}

.modal {
    border-radius: 20px;
    display: none; /* По умолчанию скрыто */
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Расположение по вертикали */
    left: 50%; /* Расположение по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование */
    background-color: #ffffff; /* Цвет фона */
    padding: 20px; /* Внутренний отступ */
    border: 2px solid #7373D9; /* Граница */
    z-index: 1000; /* Порядок слоя */
}

.aviamodal {
    border-radius: 20px;
    display: none; /* По умолчанию скрыто */
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Расположение по вертикали */
    left: 50%; /* Расположение по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование */
    background-color: #ffffff; /* Цвет фона */
    padding: 20px; /* Внутренний отступ */
    border: 2px solid #7373D9; /* Граница */
    z-index: 1000; /* Порядок слоя */
}

.overlay {
    display: none; /* По умолчанию скрыто */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 999; /* Порядок слоя */
}

#closeModal {
    right: 10px;
    position: absolute;
    top: 10px;
    width: 50px; /* Пример отступа слева */
}

.modal input {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #7373D9;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin: 5px;
    width: 500px;
}

#noPassword {
    height: 20px;
    text-align: start;
    width: 150px;
    color: #7373D9;
    background-color: #ffffff;
    border: none;
    margin: 0;
    font-style: italic;
}

#login {
    margin-top: 55px;
}

#reg {
    background-color: #ffffff;
    color: #7373D9;
}
.aviamodal button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #7373D9;
    background-color: #ffffff;
    border: 1px solid #7373D9;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    width: 500px;
}

.aviamodal button:hover {
    color: #ffffff;
    background-color: #7373D9;
}

.aviamodal #enter:hover {
    color: #7373D9;
    background-color: #ffffff;
}

.aviamodal span {
    margin: 2px;
}


.aviamodal #enter {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: #7373D9;
    border: 1px solid #7373D9;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    width: 500px;
}

.aviamodal #closeModal {
    align-items: center;
    color: #ffffff;
    text-align: center;
    background-color: #7373D9;
    border: 1px solid #7373D9;
}

.modal  button {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7373D9;
    border: 1px solid #7373D9;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    display: block;
    width: 500px;
}


.image-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
  }
  
  .image-wrapper {
    position: relative;
    margin-bottom: 120px; /* Увеличение расстояния между картинками снизу */
    flex: 0 0 calc(33.33% - 40px); /* Показывать 3 картинки в ряд с отступами */
    max-width: calc(33.33% - 40px); /* Максимальная ширина для каждой картинки */
    box-sizing: border-box; /* Учитываем отступы внутри ширины и высоты элемента */
  }
  
  @media (max-width: 768px) {
    .image-wrapper {
      margin-bottom: 20px; /* Уменьшение расстояния между картинками снизу при уменьшении ширины экрана */
      flex: 0 0 calc(50% - 40px); /* Показывать 2 картинки в ряд с отступами при уменьшении ширины экрана */
      max-width: calc(50% - 40px); /* Максимальная ширина для каждой картинки при уменьшении ширины экрана */
    }
  }
  
  .image-wrapper img {
    width: 300px; /* Занимать всю доступную ширину */
    height: 300px; /* Фиксированная высота */
    object-fit: cover;
    border-radius: 20px;
  }
  
  .image-wrapper .text-overlay {
    position: absolute;
    width: 150px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #ff429d; /* Фиолетовый полупрозрачный фон */
    color: #fff; /* Белый текст */
    font-size: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.image-wrapper .text-loverlay:hover {
    background-color: #ffffff; /* Фиолетовый полупрозрачный фон */
    color: #7373D9; /* Белый текст */
}

.image-wrapper .text-loverlay {
    border: 2px solid #7373D9;
    cursor: pointer;
    position: absolute;
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #7373D9; /* Фиолетовый полупрозрачный фон */
    color: #fff; /* Белый текст */
    font-size: 20px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }